@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*All'interno dei file CSS viene utilizzato il display:flex, attributo che definisce un contenitore di tipo flex. E' comodo utilizzare i flexbox perchè sono modellabili e
facilmente adattabili agli spazi in cui si trovano. In questo file vengono solitamente definiti relativamente alla grandezza della pagina o dei vari contenitori che li contengono
e questo comporta due vantaggi: il primo è che il sito è abbastanza responsive e il secondo è la facilità di gestione dei contenitori.
Ad esempio, nel file 'admin_design', viene utilizzato molto il .maincontainer che è un flexbox che contiene tutti gli oggetti che si trovano nelle pagine della sezione admin.
Nel nostro caso viene utilizzato come pannello principale che permette di organizzare gli elementi all'interno di esso e di conseguenza all'interno della pagina senza ricorrere
all'utilizzo di px o rem per il posizionamento dei vari container.*/

body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

h1{
    font-size: 2rem;
    text-align: center;
}

h4{
    text-align: center;
}

.container h1{
    color: #fff;
    text-align: center;
}

details{
    background-color: #303030;
    color: #fff;
    font-size: 2.5rem;
}

summary {
    padding: .5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after{
    content: "\002B";
}

details[open] summary {
    border-bottom: 10px solid white;
    margin-bottom: .5em;
}

details[open] summary:after{
    content: "\00D7";
}

details[open] div{
    padding: .5em 2em;
}

/*+---------------------------------------------------+
  | SEZIONE RELATIVA AL CSS DELLA GESTIONE DELLE FAQs |
  +---------------------------------------------------+*/

/*container principale utilizzato nelle varie pagine*/
.maincontainer, .form{
    display: flex;
    align-items: center; /* allineamento centrale (asse y) degli elementi contenuti nel container */
    justify-content: center; /* allineamento centrale (asse x) degli elementi contenuti nel container */
    flex-direction: column; /*indica in quale direzione vengono disposti gli elementi; di default è settata su row, in questo caso viene utilizzata column per disporli in colonna*/
    margin: 70px 200px;
    gap:25px;
    /* height: 600px; */
    /* width: 70%; */
    padding: 50px 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    background-color: rgb(217, 217, 217);
    color: rgb(80, 80, 80);
}

/*contenitore di ogni faq*/
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    padding: 30px;
    gap:25px;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);

}

/*contenitori delle rispettive 'domanda' e 'risposta'*/
.upper-box, .inner-box{
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #4B4B4BFF;
    width: 500px;
}

/*modifica dei testi <h2> soltanto nei box inner e upper*/
.inner-box h2, .upper-box h2{
    color: #762c2c;
}

/*contenitore dei bottoni*/
.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*definizione dei bottoni modifica, elimina e aggiungi*/
a.buttonbar, a.buttonbar-add, .formbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    border-radius: 15px;
    color: #eeeeee;
    background-color: #762c2c;
    height: 30px;
    width: 170px;
    transition: width 0.3s ease, height 0.7s ease, opacity 0.8s ease, background-color 1s, color 1s; /*transizione dei bottoni che avviene al passaggio del cursore*/
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

/*definizione dei bottoni modifica, elimina e aggiungi al passaggio del cursore*/
a.buttonbar:hover, a.buttonbar-add:hover{
    width: 300px;
    background-color: whitesmoke;
    color: #762c2c;
}

/*definizione grandezza del bottone di aggiunta fatta separatamente perchè differisce dagli altri bottoni soltanto per questo*/
a.buttonbar-add{
    width: 200px;
    height: 50px;
}

/*definizione del bottone aggiungi al passaggio del cursore che differisce soltanto in grandezza dagli altri due*/
a.buttonbar-add:hover{
    width: 400px;
    height: 50px;
}

/*+----------------------------------------------------+
 | SEZIONE RELATIVA ALLA VISUALIZZAZIONE DELLE AZIENDE |
 +-----------------------------------------------------+*/

/*box principale in cui si trovano i dati di una singola azienda*/
.main-box-az{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

/*box nel quale viene inserita l'immagine o logo di una determinata azienda*/
.imgslot{
    width: 300px;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
}

#img-offerta{
    max-height: 100%;
    max-width: 100%;
}

/*box nel quale vengono inserite tutte le informazioni di una determinata azienda*/
.textslot{
    flex-grow: 2;
    width: 350px;
    /*border: 1px solid darkslategray;*/
}

/*box nel quale vengono inseriti i bottoni di modifica ed eliminazione di una singola azienda*/
.buttonslot{
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    /*border: 1px solid goldenrod;*/
    gap: 30px;
    flex-grow: 1;
}

/*definizione dei bottoni modifica ed elimina*/
a.buttonbar2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    border-radius: 15px;
    color: #eeeeee;
    background-color: #762c2c;
    height: 30px;
    width: 150px;
    transition: height 0.4s ease, background-color 1s, color 1s; /*transizione dei bottoni che avviene al passaggio del cursore*/
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

/*definizione dei bottoni al passaggio del cursore*/
a.buttonbar2:hover{
    height: 60px;
    background-color: whitesmoke;
    color: #762c2c;
}

/*+----------------------------------+
 | SEZIONE RELATIVA ALLE STATISTICHE |
 +-----------------------------------+*/

.buttonbarstats{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    border-radius: 15px;
    color: #eeeeee;
    background-color: #762c2c;
    height: 40px;
    width: 270px;
    transition: width 0.5s ease, background-color 1s, color 1s; /*transizione dei bottoni che avviene al passaggio del cursore*/
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.buttonbarstats:hover{
    width: 340px;
    background-color: whitesmoke;
    color: #762c2c;
}

.maincontainer  .upper-box{
    background-color: #eeeeee;
}

.textslot p .coloredlink{
    text-decoration: none;
    color: #762c2c;
}

.faqcontainer{
    display: inline-block;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);

}

.upper-box, .inner-box{
    cursor:pointer;
}
