@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #ffffff;
    margin:0;
    font-family: 'Lexend', sans-serif;
}

/* Stile per l'intestazione della pagina */
header {
   /* background-color: #f2f2f2;*/
    /*padding: 10px;*/
    /*text-align: center;*/
    position: relative;
    font-family: 'Lexend', sans-serif;
    top: 0;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    background-color: #762c2c;
}
/*.faqcontainer{
    display: inline-block;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}*/

/* Stile contenitore per domanda e risposta */
.main-box_faq{
    position:relative;
    display: block;
    border-top: 1px solid darkred;
    margin-bottom: 3px;
    background-color: transparent;
}

/* Linea rossa decorativa sotto l'ultima FAQ*/
.main-box_faq:last-child{
    border-bottom: 1px solid darkred;
}
/* stile contenitore titolo*/
h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Stile contenitore risposta*/
.inner-box2{
    padding: 7px 25px 10px 25px;
    display: flex;
    margin: -7px 0 6px;
    color: #ffffff;
    background-color: #762c2c;
}
/* Stile contenitore domanda */
.upper-box2{
    display: flex;
    padding: 10px 10px 3px;
    color: #303030;
}
/* puntatore per cliccare sulla domanda */
.upper-box2{
    cursor:pointer;
}





