@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

.footercontainer1{
    background-color: rgb(50, 50, 50);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-family: 'Lexend', sans-serif;
    color: rgb(210, 210, 210);
    height: 12rem;
}

.section{
    height: 50px;
    margin-top: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

a{
    margin-top: 5px;
    text-decoration: none;
    color: rgb(210, 210, 210);
}

p{
    margin-top: 5px;
    font-size: 10px;
}

p a{
    font-size: 10px;
    color: #762c2c;
}


