
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #FFFFFF;
    margin:0;
    font-family: 'Lexend', sans-serif;
}
/* viene messo con un tot in percentuale di larghezza e di alteza 3 rem, i margini in automatico, e dal basso 1 rem */

.container1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

@media (max-width: 850px) {
    .container1 {
        flex-direction: column;
    }
}

.imgchisiamo{
    position: relative;
    flex: 1 0 10rem;
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
}

.imgchisiamo img{
    width: 65rem;
    height: auto;
}

.chisiamo{
    position: relative;
    text-align: left;
    flex:1 0 10rem;
    margin: 1rem 1rem 1rem 0.5rem;
}
/* carosello */

.wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-slide{
    width:80rem;
    text-align: center;
    overflow: hidden;
}

.slide img{

    width: auto;
    max-width: 99%;
    height: 30rem;
}

.carousel{
    display: none;
}

.next{
    right: 0;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*SEZIONE RELATIVA A LOGIN E REGISTRAZIONE*/
/*.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    margin: 50px 100px;
    border-radius: ;
    border: 1px solid blue;
}*/
/*.maincontainer,*/ .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 200px;
    gap:25px;
    /* height: 600px; */
    /* width: 70%; */
    padding: 50px 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    background-color: rgb(217, 217, 217);
    color: rgb(80, 80, 80);
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-label {
    display: flex;
    margin-bottom: 15px;
    font-size: small;
}

.form-input {
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    background-color: white;
    font-family: 'Lexend', sans-serif;
}

.form-button{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-family: 'Lexend', sans-serif;
    transition: width 0.5s ease, height 0.7s ease, color 0.7s, background-color 0.7s;
    background-color: #eeeeee;
    color: #762c2c;
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.form-button:hover{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    font-family: 'Lexend', sans-serif;
    background-color: #762c2c;
    color: #eeeeee;
}

.errors{
    color: red;
    font-size: x-small;
    margin-left: 0;
}

.form p .coloredlink{
    text-decoration: none;
    color: #762c2c;
}

#map {
    width: 90%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

