
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #FFFFFF;
    margin:0;
    font-family: 'Lexend', sans-serif;
}

/* viene messo con un tot in percentuale di larghezza e di alteza 3 rem, i margini in automatico, e dal basso 1 rem */


.container1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-style: solid;
}

@media (max-width: 850px) {
    .container1 {
        flex-direction: column;
    }
}

.imgchisiamo{
    position: relative;
    flex: 1 0 10rem;
    margin: 1rem 1rem 1rem 1rem;
    align-items: center;
    justify-content: center;
}

.imgchisiamo img{
    width: 65rem;
    height: auto;
}

.chisiamo{
    position: relative;
    text-align: left;
    flex:1 0 10rem;
    margin: 1rem 1rem 1rem 0.5rem;
}
/* carosello */

.wrapper{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-slide{
    border-color: red;
    border-style: solid;
}

.slide img{

    width: 50rem;
    height: 25rem;
}

.carousel{
    display: none;
}

.next{
    right: 0;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*SEZIONE RELATIVA ALLA PAGINA DETTAGLIO OFFERTA*/

.product-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 200px;
    border: 2px solid yellow;
    border-radius: 20px;
    gap: 30px;
    background-color: #eeeeee;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.38);
}

.leftcontainer, .rightcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.descrizione, .modalita, .id, .luogofruizione, .dataFine, .dataInizio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    border: 1px solid red;
}

.product-detailsimg img {
    max-width: 100%;
    height: auto;
}

.product-detailsimg{
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}

/*SEZIONE RELATIVA A LOGIN E REGISTRAZIONE*/
/*.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 50px;
    margin: 50px 100px;
    border-radius: ;
    border: 1px solid blue;
}*/
.maincontainer, .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 200px;
    gap:25px;
    /* height: 600px; */
    /* width: 70%; */
    padding: 50px 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    background-color: rgb(217, 217, 217);
    color: rgb(80, 80, 80);
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid green;
}

.form-label {
    display: flex;
    margin-bottom: 15px;
}

.form-input {
    width: 300px;
    padding: 8px;
    border-radius: 10px;
    border: none;

    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
    background-color: white;
    font-family: 'Lexend', sans-serif;
}

.form-button{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    font-family: 'Lexend', sans-serif;
}

.errors{
    color: red;
    font-size: x-small;
    margin-left: 0;
}
