@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Lexend', sans-serif;
}

/* 'titolo' definisce il titolo "Dettagli utente" */
.titolo{
    padding: 0;
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 20px;
    background-color: rgb(217, 217, 217);
    /* border: 1px solid red; */
}

/* definisce il container principale */
.container1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 200px;
    gap:25px;
    /* height: 600px; */
    /* width: 70%; */
    padding: 10px 100px;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    background-color: rgb(217, 217, 217);
    color: rgb(80, 80, 80);
}

/* definisce i container in cui si trovano i campi */
.containerfield{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 3px;
    width: 350px;
    height: 30px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
}

/* definisce il container in cui si trova l'immagine profilo */
.imagecontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(80, 80, 80); */
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    border-radius: 50%;
}

/* definisce il bottone  */
.edit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    height: 40px;
    width: 200px;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: darkred;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    opacity: 0.2;
    transition: width 0.3s ease, height 0.7s ease, opacity 0.8s ease;
}

.edit:hover{
    width:400px;
    height: 60px;
    background-color: darkred;
    color: whitesmoke;
    opacity: 1;
}

