
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #FFFFFF;
    margin:0;
    /*gradiente*/
    /*background-image: linear-gradient(to bottom right, #BDE0FE,#FFC8DD);*/
    font-family: 'Lexend', sans-serif;
}

h1{
    font-size: 3rem;
    border: .1rem solid rgb(51, 255, 0);
    display: flex;
}


/*questa sezione si occupa dei rettangoli in cui verrano inseriti
i coupon, viene impostato che oltre gli 850 px siano disposti per riga
al disotto per colonna*/

.titolo{
    justify-content:center ;
}

.Titolo2{
    justify-content:center;
    display: flex;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

.DivSport {
    padding: 2rem 0rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10rem;
}

.ContenitoreCoupon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    padding: 1rem;
    /*border: 3px solid blue;*/
    border-radius: 20px;
    background-color: #d4d4d4;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
}

.Immagine{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border: 1px solid yellow;
    border-radius: 20px;
}

.Descrizione{
    display: flex;
    border: 1px solid green;
}

@media (max-width: 850px) {
    .DivSport {
        flex-direction: column;
    }
}

/* Stile del bottone di menu */
.BottoneMenu {
    font-family: 'Lexend', sans-serif;
    background-color: #d4d4d4;
    color: #593959;
    padding: 0.5rem 30rem;
    font-size: 2rem;
    border: none;
    width: 100%;
    z-index: 10;
}

/* The container <div> - needed to position the dropdown content */
.MenuTendina {
    z-index: 10;
    display: inline-block;
    background-color: #d4d4d4;
    border: 0px rgb(237, 240, 71) solid ;
    width: 100%;
    transition-duration: 0.5s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.MenuTendina:hover .dropdown-content{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.MenuTendina:hover .BottoneMenu{
    background-color: #593959;
    color: white;
}

.footer {
    color: white;
    background-color: #2f2f2f;
    padding: 20px;
    text-align: center;
  }

.footer-content {
    border: 2px rgb(237, 240, 71) solid ;
    width: 100%;
    margin: 0 auto;
}
